<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IntellPin</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <style>
    .close-menu,
    .open-menu {
      position: absolute;
      cursor: pointer;
      display: none;
    }

    .open-menu {
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    .close-menu {
      top: 20px;
      right: 20px;
    }

    #check {
      display: none;
    }

    @media (max-width: 800px) {
      .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #27272a;
        color: #fff;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        font-size: 24px;
      }

      .menu li {
        margin-top: 40px;
      }

      .menu li a {
        padding: 10px;
      }

      .close-menu,
      .open-menu {
        display: block;
      }

      #check:checked ~ .menu {
        right: 0;
      }
    }
  </style>
  <body>
    <% if(nav === true){ %>
    <!-- <div class="w-full px-10 py-3 flex justify-between items-center bg-zinc-800 text-white">
        <h3>IntellPin</h3>
        <div class="w-80 flex justify-center gap-10 items-center">
          <a href="/profile">Profile</a>
          <a href="/feed">Feed</a>
          <a class="bg-red-700 px-3 py-2 text-white rounded-lg" href="/logout">Logout</a>
        </div>
      </div> -->
    <header>
      <nav class="bg-zinc-800 w-full text-white">
        <ul
          class="navigation max-w-[90vw] flex flex-wrap justify-between items-center relative mx-auto py-5"
        >
          <a class="logo" href="#">
            <h3 class="font-bold text-2xl">IntellPin</h3>
          </a>
          <input type="checkbox" id="check" />

          <span
            class="menu z-10 flex [&>li]:pl-8 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-lg"
          >
            <li><a href="/profile">Profile</a></li>
            <li><a href="/feed">Feed</a></li>
            <li>
              <a
                class="bg-red-700 px-3 py-2 text-white rounded-lg"
                href="/logout"
                >Logout</a
              >
            </li>
            <label for="check" class="close-menu">X</label>
          </span>

          <label for="check" class="open-menu"
            ><i class="text-xl ri-menu-line"></i
          ></label>
        </ul>
      </nav>
    </header>
    <% } %>
  </body>
</html>
